<html>
<h2>Hey Chris!</h2>
<p>Someone visited the website and would like to talk to you about caricatures. </br>
   <b>Interested Party's Information</b> <br>
   <b>Name: </b> <%=@user_name%><br>
   <b>email: </b> <%=@user_email%><br>
   <b>subject: </b> <%=@user_subject%><br>
   <b>message: </b> <%=@user_message%><br>
</p>
</html>
