<html>
<h2>Hey <%= @user_name%>!</h2>
<p>I just wanted to let you know that I've received your inquiry and will be getting back to you very soon. 
<br>
Thanks again for reaching out,
<br>
<br>
<br>
<br>
Chris McGehee</p>

